@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Lobster&display=swap');

body {
    padding: 10px;
    font-family: 'Baloo Tamma 2', cursive;
    background-color: aliceblue;
}

a:hover{
    text-decoration: none;
}

header{
    height: 15vh;
    min-height: 100px;
}

header h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: indigo;
    font-size: 47px;
}

.user-info{
    font-size: 20px;
}

img {
    max-height: 450px;
}

.nav-link {
    font-size: 18px;
    padding: 0.5rem 1.8rem;
}

.list-group-item a {
    font-size: 20px;
}

.active-listing{
    margin: 40px 0;
    padding: 10px 0;
    position: relative;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
}

.active-listing a {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.active-listing h2{
    font-size: 35px;
}

.active-listing p {
    font-size: 24px;
}

.active-listing img {
    display: inline-block;
    height: 250px;
}

.listing-box{
    min-width: 410px;
    margin: 0.2vh 1vw;
}

#listing-photo{
    padding: 20px 0;
}

#create-form{
    max-width: 243px;
}

@media (min-width: 510px){
    #create-form{
        max-width: 492px;
    }    
}

@media (min-width: 1025px){
    #create-form{
        max-width: 982px;
    }    
}

#create-submit{
    display: flex;
    justify-content: center;

}

#watchlist{
    display: none;
}